.encabezado-catalogo{
    position: relative;
    background-color: #ebebeb;
    padding-bottom: 15px;
    z-index: -2;
}

.img-catalogo{
    width: 98vw;
    height: auto;
    position: relative;
    z-index: -1;
}

.text-overlay{
    text-align: center;
    color: rgb(31 83 74);
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: 'Rubik';
}

.texto-contacto{
    margin: 10px;
    margin-bottom: 57px;
    background-color: rgb(17 153 158 / 10%);
    width: 95vw;
    padding: 26px;
    padding-left: 72px;
    text-align: justify;
    font-family: rubik;
    line-height: 33px;
    font-size: 17px;
    font-size: 1.2rem;
}

.contenedor-form{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.estilos-form{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 90px;
}

.estilos-labels{
    padding: 10px;
    font-family: 'Rubik';
    font-size: 1.2rem;
}

.estilos-inputs{
    padding: 10px;
    width: 50vw;
    height: 33px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button{
    display: block;
    width: 25vw;
    padding: 10px;
    border: none;
    background: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    margin-top: 15px;
}

.contenedor-texto-contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-contacto{
    margin: 10px;
    margin-bottom: 57px;
    background-color: rgb(17 153 158 / 10%);
    width: 95vw;
    padding: 26px;
    padding-left: 72px;
    text-align: justify;
    font-family: rubik;
    line-height: 33px;
    font-size: 17px;
    font-size: 1.2rem;
}

.contenedor-imagen {
    position: relative;
    display: inline-block;
  }

.text-overlay-2{
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: #41514e;
    font-size: 1.4rem;
    z-index: 1;
    width: 58%;
}

.contenedor-texto-descripcion{
    display: flex;
}
