body
    {display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;}
    
.main-container
    {flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url('../img/perro-notfound.jpg');
    background-size: cover;
    background-repeat: no-repeat;}

/*bone home button*/
:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
  }
  
  .boton-index {
    padding: 1.5rem 0;
    filter: url('#goo');
    text-align: center; /* Agrega esta línea */
    
  }
  
  .index-button-box {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 0.8em 0.5em 0.8em;
    line-height: 1;
    border-radius: 0.4em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
  }
  
  .index-button-box::before,
  .index-button-box::after,
  .index-button-box span::before,
  .index-button-box span::after {
    width: 2.3em;
    height: 2.3em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
  }
  
  .index-button-box::before {
    top: 50%;
    right: -10%;
  }
  
  .index-button-box::after {
    bottom: 50%;
    right: -10%;
  }
  
  .index-button-box span::before {
    top: 50%;
    left: -10%;
  }
  
  .index-button-box span::after {
    bottom: 50%;
    left: -10%;
  }
  
  .index-button-box:hover::before,
  .index-button-box:hover::after,
  .index-button-box:hover span::before,
  .index-button-box:hover span::after {
    transform: none;
  }
