/* Total */
* 
    {font-family: 'Rubik', sans-serif;
    /* II. M.V.A. Corrección navbar
    margin: 10px;
    padding: 0;
    FF. M.V.A. */
    box-sizing: border-box;}

body 
    {margin: 8px;
    padding: 0px;
    height: 90vh;
    background-color: white;
    /*II L.B. Cambio de color negro a gris*/
    color: rgba(41, 53, 51, 1);
    /*FF*/}

/* Main */
main
    {width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;}

.title
    {margin-bottom: 10px;
    margin-top: 80px;
    font-size: x-large;}

.form
    {width: 90vw;}


/* Nombre y descripcion */
.name-description
    {width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border: #333 1px solid;
   /*  border-radius: 10px; */
    background-color: #ebebeb;}

.name-description label
    {display: block;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 20px;}

.name-description input,
.name-description textarea
    {width: 95%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #888;
    font-size: 12px;
 /*    border-radius: 10px; */
    margin-left: 10px;}

/* Fotos */
.image
    {width: 100%;
    margin-bottom: 15px;
    background-color: #ebebeb;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  /*   border-radius: 10px; */
    border: #333 1px solid;}

.image label
    {display: block;
    margin-bottom: 5px;}


.image input[type="file"]
    {border: none;
    outline: none;}

.thumbnail-container
    {width: 100px;
    height: 100px; 
    overflow: hidden;
    border: 1px solid #ccc;}
    
.thumbnail-container img
    {width: 100%;
    height: auto; 
    display: block;}
    

/* Precio y stock */
.price-stock
    {width: 100%;
    margin-bottom: 15px;    
    background-color: #ebebeb;
    padding: 15px;
    display: flex;
    justify-content: space-between;
   /*  border-radius: 10px; */
    border: #333 1px solid;
    align-items: center;}

.price-stock label
    {display: block;
    margin-bottom: 5px;
    padding: 10px;}

.price-stock input
    {width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #888;
    font-size: 12px;
  /*   border-radius: 10px; */
    text-align-last: center;
    text-align: center;}

/* Categoria */
.category
    {width: 100%;
    margin-bottom: 15px;
    background-color: #ebebeb;
    padding: 15px;
    display: flex;
    justify-content: space-between;
   /*  border-radius: 10px; */
    border: #333 1px solid;}

.category label
    {display: block;
    margin-bottom: 5px;
    padding: 10px;}

.category select
    {width: 40%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #888;
    font-size: 12px;
    text-align-last: center;}

/* Color y talle */
.specs
    {width: 100%;
    background-color: #ebebeb;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  /*   border-radius: 10px; */
    border: #333 1px solid;
    align-items: center;
    flex-wrap: wrap;}

.specs label
    {display: block;
    margin-bottom: 5px;}

.specs select
    {width: 100px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    text-align-last: center;
    border: 1px solid #888;}

 .form-label
    {width: 100%;
    padding: 10px;}   

/* Tamaño de los talles */
.size-checkboxes
    {display: flex;
    gap: 2px;}

.size-checkboxes label
    {display: flex;
    align-items: center;}

.size-checkboxes input
    {margin-right: 5px;}

/* Botones generales */
.button-container
    {display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;}

/* Borrar producto Button */
.deleteButton
    {padding: 10px;
    display: block;
    width: 30%;
    background-color: #FF6969;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 900;
    font-size: medium;
  /*   border-radius: 10px; */}

.deleteButton:hover
    {background-color: #E97777;}

/* Cancelar producto Button */
.cancelButton
    {padding: 10px;
    display: block;
    width: 30%;
    background-color: #888;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 900;
    font-size: medium;
   /*  border-radius: 10px; */
    text-decoration: none;
    text-align: center;}

.cancelButton:hover
    {background-color: #333;}

/* Apply changes Button */
.editProductButton
    {padding: 10px;
    display: block;
    width: 30%;
    background-color: rgba(22, 198, 204, 1);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 900;
    font-size: medium;
   /*  border-radius: 10px; */}

.editProductButton:hover
    {background-color: rgba(17, 153, 158, 1);}

/*----------Breakpoints----------*/
/*Phones*/
@media (max-width: 480px)
    {}

/*Tablets*/
@media (min-width:768px)
{

.form {
    width: 75vw;
}


}
/*Desktop*/
@media (min-width: 992px)
{
       
.form {
        width: 50vw;
}  
       
}