/*Total*/
* 
    {font-family: 'Roboto', sans-serif;}

/*Errores*/
.errors
{color: red;
text-transform: none !important;}

body 
    {margin: 8px;
    padding: 0px;
    height: 90vh;
    background-color: white;}

.banner
    {width: 100%;
    max-width: 100%; 
    height: 200px;  
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 10px;}

/*Main*/
main
    {width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;}

.title-login
    {margin-bottom: 10px;
    display: flex;
    margin-top: 50px;
    color: #333}

/*login left*/
input
    {width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #888;
    font-size: 12px;
    text-transform: uppercase;}

.input-boxes-login
    {margin-top: 1px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    color: #333;
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    text-align: left;
    width: calc(100% - 60px);}


#remember-me-label
    {display: flex;
    align-items: center;
    margin-right: 10px;}

.input-boxes-login
    {position: relative;}
    
.input-boxes-login input[type="checkbox"]
    {position: absolute;
    transform: translateX(-20%) translateY(-10%);}
            
.forgot-password-login
    {font-style: italic;
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
    color: #888;
    position: relative;
    left: -20px;
    cursor: pointer;}

.forgot-password-login a
    {text-decoration: none;
    color: #333;}

.forgot-password-login a:hover
    {color: #333;
    text-decoration: underline;}

/*Login Button*/
#loginButton-login
    {width: 60%;
    font-size: medium;
    font-weight: 900;
    background-color: #333;
    padding: 20px;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    left: -20px;}

#loginButton-login:hover
    {background-color: #555;
    transition: background-color 0.3s, color 0.3s, border 0.1s;}

.submit-button-box-login
    {display: flex;
    justify-content: flex-end;}

/*Whole login considerations*/
.login-left, .login-right
    {flex: 1;
    padding: 20px;
    width: 50%;
    text-align: center;}

.divider-login
    {position: relative;
    width: 1px;
    background-color: #ccc;}
    
.circle-login
    {position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    color: #333;
    background-color: white;
    border: 0.5px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;}
    
.columns-login
    {display: flex;}

/*login right*/
.logo-login
    {width: 50%;
    height: 50%;}

.button-container-login
    {display: flex;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 50px;}

.g_id_signin,
.signin-button-apple
    {margin-left: 100px;
    margin-top: 20px;
    display: flex;}

/*google button*/
.g_id_signin div
    {transform: scale(1.17);}
    
/*apple button*/
.signin-button-apple
    {cursor: pointer;}

/*login down main considerations*/
.login-down
    {display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #ccc;
    align-items: center;}

/*Register Button*/
#registerButton-login a
    {text-decoration: none;
    color: #333;}

#registerButton-login a:hover
    {color: #333;}

#registerButton-login
    {padding: 20px;
    display: block;
    width: 30%;
    background-color: white;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: medium;
    text-transform: uppercase;}
    
#registerButton-login:hover
    {background-color: #ccc;
    color: white;
    transition: background-color 0.3s, color 0.3s, border 0.1s;}

/*----------Breakpoints----------*/
/*Phones*/
@media (max-width: 480px)
    {}

/*Tablets*/
@media (min-width: 480px) and (max-width:768px)
    {}

/*Desktop*/
@media (min-width: 769px)
    {}

/* //////////VALIDACIONES FRONT////// */

.errors{
    color: #bb2929;
    background-color: #ffbaba8c;
    font-size: 14px;
    list-style-type: none;
    width: max-content;
    text-transform: none;
    padding: unset;
}

.email-error {
    color: #bb2929;
    background-color: #ffbaba8c;
    font-size: 14px;
    list-style-type: none;
    width: max-content;
    text-transform: none;
} 

.password-error{
    color: #bb2929;
    background-color: #ffbaba8c;
    font-size: 14px;
    list-style-type: none;
    width: max-content;
    text-transform: none;
}

