/*total*/
footer
    {font-family: 'Roboto', sans-serif;
    background-color: #16c6cc;
    padding: 5px 0;}

.footer-box
    {display: flex;
    align-items: center;}

/*logo*/
.logobox-footer
    {margin-right: 10px;}

.logo-footer
    {max-width: 100%;}

/*contenido*/
.content-footer
    {display: flex;}

.categories-footer
    {display: flex;
    flex-wrap: wrap;
    gap: 10px;}

.sections-footer
    {flex: 1;}

.title-footer
    {font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;}

.navList-footer,
.aboutList-footer,
.contactList-footer
    {list-style: none;
    padding: 0;
    font-size: 14px;}

.navList-footer li,
.aboutList-footer li,
.contactList-footer li
    {margin-bottom: 5px;}

.sitesLogos-footer
    {display: flex;
    gap: 10px;}

.sitesLogos-footer a
    {color: #F8F8F8;}

.newsletter-input-footer
    {display: flex;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 5px;
    overflow: hidden;
    padding: 3px;
    text-transform: capitalize !important;}

.mailbox-footer
    {flex: 1;
    padding: 5px;
    border: none;
    font-size: 10px;
    text-transform: capitalize !important;}

.submit-button-footer
    {background-color: #34322F;
    color: #F8F8F8;
    border: none;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;}

.submit-button-footer i
    {font-size: 12px}    

/*copyright*/
.reservados-footer
    {text-align: center;
    font-size: 12px;
    color: #F8F8F8;
    width: 85%;
    margin-top: 20px;}
    
    
/* -----ANIMACIONES------ */
/* .titulos:hover {
    text-shadow: 15px 15px 4px (0,0,0,0.5);
} 
.logo:hover {
    max-width: 42vw;
    opacity: 100%;
}
 
/*-----------------MEDIAQUERY----------------------------------------------------------------------- 
/* @media (min-width: 480px) {

}
/*-------------TABLET---------------------
@media (min-width: 768px) {

footer {
    font-size: 18px;
}
.contenido{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 4 px;
    padding: 8px;
}
.listabox{
    /*    background-color: blueviolet; 
       height: 100%;
       width: 80%;
       display: flex;
       flex-direction: row;
       align-items: start;
       justify-content: start;
       gap: 20%;
       padding: 8px;
       padding-left: 30px;
   }
   
.logobox {
     padding: 8px;    
 }
.logo {
    max-width: 20vw;
}
.titulos{
    text-align: start;
}
.listaContacto{
    text-align: start;
}
.logosredes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20%;
}
.logito{
   font-size: 40px;
}
/* -----ANIMACIONES------ */
/* .logo:hover {
    max-width: 21vw;
   
    /* border: 2px solid black;
    border-radius: 5%;  */  /* jugando con estos valores 
}
}
/* ------------------------------------Desk----------------------------------------------------- 
@media (min-width: 992px){

} */