* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 8px;
    padding: 0px;
    height: 90vh;
    background-color: white;
    color: rgba(41, 53, 51, 1);
}

main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 10px;
    margin-top: 80px;
    font-size: x-large;
}

.form {
    width: 90vw;
}

.name-description {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border: #333 1px solid;
    border-radius: 10px;
    background-color: #ebebeb;
}

.name-description label {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 20px;
}

.name-description input,
.name-description textarea {
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #888;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 10px;
}

.image {
    width: 100%;
    margin-bottom: 15px;
    background-color: #ebebeb;
    padding: 15px;
    display: flex;
    justify-content: space;}