body{
    font-family:'Roboto', sans-serif; 
    box-sizing: border-box;
    background-color: #FFFFFF;
}
h1{
    font-family:'Roboto', sans-serif; 
    text-align: center;
    margin: 2rem 0;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70px;
}
.product-container{
    display: flex;
    flex-direction: row;
}
.products{
    display: flex;
    flex-direction: column;
}
.item{
    display: flex;
    align-items: stretch;
    border: 1px solid #11999E;
    margin: 1rem;
    width: 40em;
}
.product-visual{
    display: flex;
    width: 10rem;
    height: 10rem;
    margin: 2em;
    
}
.product-visual img{
    object-fit: cover;
    width: 100%;
}
.info-product{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size:2rem;;
    font-weight: 500;
    margin-inline-end: 1rem;
    flex-grow: 4;
}
.product-quantity{
    display: flex;
    width: 4em;
    height: 1em;
    /* background-color: transparent ; */
    
}
.btn-agregate{
    border: 0px;
    border-radius: 0;
    width: 2em;
    background-color:#11999E ;
    color: #FFFFFF;
    font-weight: 999;
    font-size: 15px;
}
.number{
    width: 4em;
    border: 0;
    text-align: center;
    background-color: #576D69;
    font-weight: 999;
    font-size: 15px;
    color: #FFFFFF;
}
.restart-btn{
    border: 0px;
    border-radius: 0;
    width: 2em;
    background-color:#11999E ;
    color: #FFFFFF;
    font-weight: 999;  
    font-size: 15px;
}
.price-info{
    border-left:1px solid #11999E;
    display: grid;
    align-items: center;
    padding: 1rem;
    
}
.rating{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    margin: 0;
    color: #11999E;
    background-color: transparent;
}
.score{
    position: relative;    
    display: flex;
    flex-direction: row-reverse;
}
.score input{
    position: relative;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
.score input::before{
    content:'\f005' ;
    position: absolute;
    font-family: fontAwesome;
    font-size: 1em;
    color:#111 ;
    transition: 0.5s;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.price{
    font-size:2rem;;
    font-weight: 500;
    margin-inline-start: 1rem;
}

.delete-item{
    border: 1px solid black;
    width: 2em;
    height: 2em;
    display: flex;
    font-size: 1em;
    color:#e31b23 ;
    background-color: transparent;
    align-items: center;
    justify-content: center;
} 
.fav-item{
    border: 1px solid black;
    width: 2em;
    height: 2em;
    display: flex;
    font-size: 1em;
    color:#e31b23 ;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}
.cart-container{
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart{
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    display: flex;
    border: 1px solid #11999E;
    width: 90% ;
    margin: 1.5em;
}
.title{
    font-size: 2em;
    display: flex;
    color: #111;
    font-weight: 600;
    width: 25em;
    height: 3em;
    text-align: center;
    justify-content: center;
    border-color: 1px solid #111;

}
.columns{
    width: auto;
    display: flex;
    flex-direction: row;
    box-sizing: inherit;
    width: 100%;
}

.product-name{
    display: flex;
    flex-direction: column;
    color: #111;
    font-size: 1.5em;
    text-align: left;
    width: 50%;
    padding: 0 .5em;
    
}
.prices{
    display: flex;
    color: #111;
    font-size: 1.5em;
    text-align: right;
    padding: 0 .5em;
    width: 50%;
    flex-direction: column;
    

}

.buy {
    color: #FFFFFF;
    background-color: #111;
    width: 90%;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em;
    margin: 0.5em;
    display: block;
    text-align: center;
    border: none;
}

@media screen and (max-width: 768px) {
    .product-container, .columns {
        flex-direction: column;
    }

    .info-product, .product-visual {
        width: 100%;
    }

    .product-name, .prices {
        width: 100%;
    }

    .price-info {
        padding: 0.5rem;
    }

    .number {
        width: 5em;
        font-size: 1.2rem;
    }

    .btn-agregate, .restart-btn {
        width: 1.5em;
        font-size: 1.2rem;
    }

    .price {
        font-size: 1.5rem;
    }

    .buy {
        font-size: 1.5rem;
    }
}