/*Total*/
* 
    {font-family: 'Roboto', sans-serif;}

body 
    {margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;}

/*Main*/
main
    {width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;}

.title
    {margin-bottom: 10px;
    display: flex;
    margin-top: 50px;
    color: #333}

/*login left*/
input
    {width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #888;
    font-size: 12px;
    text-transform: uppercase;}

.input-boxes
    {margin-top: 1px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    color: #333;
    font-weight: 500;
    font-size: 15px;
    width: calc(100% - 40px);}

/*resetPassword Button*/
#resetPassword
    {width: 60%;
    font-size: medium;
    font-weight: 900;
    background-color: rgba(22, 198, 204, 1);
    padding: 20px;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;}

#resetPassword:hover
    {background-color: white;
    color: rgba(22, 198, 204, 1);
    border: 0.1px solid rgba(22, 198, 204, 1);
    transition: background-color 0.3s, color 0.3s, border 0.1s;}

.submit-button-box
    {display: flex;
    justify-content: flex-end;}

/*Whole login considerations*/
.reset-left, .reset-right
    {flex: 1;
    padding: 20px;
    width: 50%;
    margin: auto;}

.divider
    {width: 1px;
    background-color: #ccc;
    margin: 30px;}

.columns
    {display: flex;}

/*login right*/ 
a
    {text-decoration: none;
    color: #333}

/*----------Breakpoints----------*/
/*Phones*/
@media (max-width: 480px)
    {}

/*Tablets*/
@media (min-width: 480px) and (max-width:768px)
    {}

/*Desktop*/
@media (min-width: 769px)
    {}