/*Total*/
* 
    {font-family: 'Roboto', sans-serif;}

body 
    {margin: 8px;
    padding: 0px;
    height: 90vh;
    background-color: white;}

.banner
    {width: 100%;
    max-width: 100%; 
    height: 200px;  
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 10px;}

/*Main*/
main
    {width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;}

.title
    {margin-bottom: 10px;
    display: flex;
    margin-top: 80px;
    color: #333}

/*Register right*/
input
    {width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #888;
    font-size: 12px;
    text-transform: uppercase;}

.input-boxes
    {margin-top: 1px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    color: #333;
    font-weight: 500;
    font-size: 15px;
    width: calc(100% - 50px);}

/*Register Button*/
#registerButton
    {width: 60%;
    font-size: medium;
    font-weight: 900;
    background-color: #333;
    padding: 20px;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    left: -8px;}

#registerButton:hover
    {background-color: #555;
    transition: background-color 0.3s, color 0.3s, border 0.1s;}

.submit-button-box
    {display: flex;
    justify-content: flex-end;}

/*Whole register considerations*/
.register-left, .register-right
    {flex: 1;
    padding: 20px;
    width: 50%;
    margin: auto;}

.divider
    {width: 1px;
    background-color: #ccc;
    margin: 10px;}

.circle
    {position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    color: #333;
    background-color: white;
    border: 0.5px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;}
    
.columns
    {display: flex;}

/*Register right*/
.button-container
    {display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 50px;}

.g_id_signin,
.signin-button-apple
    {margin-left: 100px;
    margin-top: 20px;
    display: flex;}

/*google button*/
.g_id_signin div
    {transform: scale(1.17);}
    
/*apple button*/
.signin-button-apple
    {cursor: pointer;}

/*Register down main considerations*/
.register-down
    {display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: #ccc;
    align-items: center;}

/*Login Button*/
#loginButton a
    {text-decoration: none;
    color: #333;}

#loginButton a:hover
    {color: #333;}

#loginButton
    {padding: 20px;
    display: block;
    width: 30%;
    background-color: white;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: medium;
    text-transform: uppercase;
    position: relative;}
    
#loginButton:hover
    {background-color: #ccc;
    transition: background-color 0.3s, color 0.3s, border 0.1s;}


/*----------Breakpoints----------*/
/*Phones*/
@media (max-width: 480px)
    {}

/*Tablets*/
@media (min-width: 480px) and (max-width:768px)
    {}

/*Desktop*/
@media (min-width: 769px)
    {}