/*Total*/
* 
    {font-family: 'Roboto', sans-serif;}

body 
    {margin: 8px;
    padding: 0px;
    height: 90vh;
    background-color: white;}

/*Main*/
main
    {width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-transform:capitalize;}

.h1
    {margin-bottom: 10px;
    display: flex;
    margin-top: 80px;
    color: #333}

.h3
    {margin-bottom: 10px;
    display: flex;
    margin-top: 80px;
    color: #333}


/*Contact Left*/
input
    {width: 45%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #888;
    font-size: 12px;
    text-transform:capitalize;}

.input-boxes
    {margin-top: 1px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    color: #333;
    font-weight: 500;
    font-size: 15px;
    width: calc(100% - 50px);}
    
/*Button Send*/
.button-send
    {width: 45%;
    font-size: medium;
    font-weight: 900;
    background-color: #16c6cc;
    padding: 20px;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;}

.button-send:hover
    {background-color: rgba(17, 153, 158, 1);
    transition: background-color 0.3s, color 0.3s, border 0.1s;}

/*Whole register considerations*/
.col-izquierda-margen-contacto, .col-dercha-margen-contacto
    {flex: 1;
    padding: 20px;
    width: 50%;
    margin: auto;}
    
.columns
    {display: flex;}




/*----------Breakpoints----------*/
/*Phones*/
@media (max-width: 480px)
    {}

/*Tablets*/
@media (min-width: 480px) and (max-width:768px)
    {}

/*Desktop*/
@media (min-width: 769px)
    {}