/* Estilos para el Carrusel */
[carrousel]
    {display: flex;
    margin-bottom: 100px;
    position: relative;
    border-radius: 10px;
    min-height: 10vh;
    overflow: hidden;
    &::before
        {content: '';
      display: block;
      padding-bottom: 25%;}
    [name~="carrousel"]
        {display: none;
      &:checked
            {+ .slide
                {pointer-events: auto;
                opacity: 1;
                .slide-content
                    {opacity: 1;}
                }
            }
        }
    
.slide
    {position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease;}
    
.slide-content
    {opacity: 0;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;}

.slide-content img
    {width: 100%;
    height: 100%;
    object-fit:contain;}

.slide-content img[src$=".gif"]
    {width: 100%;
    height: 100%;}

.back, .forward
    {display: block;
    position: absolute;
    top: calc(50% - 2rem);
    height: 4rem;
    width:  2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: .5rem;
    border-radius: 100px;
    box-shadow: 0 2px 0 0 rgba(black, .1);
    transform: scale(.9);
    transition: transform .2s;  
      &:hover {
        transform: scale(1);
        background-color: white;
      }
    }
    
.back
    {left: calc(0% + 1rem);}
    
.forward
    {right: calc(0% + 1rem);}
}

/* estilos container general*/
/* .container {
width: 100%;
padding: 5px;
margin-top: 50px;
margin-bottom: 50px;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
} */

.card p {
    
font-size: 1.2em;
text-align: justify;
}



/* Estilos del Contenedor de Tarjetas */
.cards-container {
display: flex; /* Habilita Flexbox */
flex-wrap: wrap; /* Asegura que las tarjetas se envuelvan */
justify-content: space-around; /* Distribuye las tarjetas uniformemente */
padding: 20px; /* Agrega algo de espacio alrededor */
}

/* Estilos de Cada Tarjeta */
.card {
display: flex;
justify-content: center; /* Centra horizontalmente en el contenedor flex */
text-align: center; 
flex: 1; /* Las tarjetas ocuparán un espacio igual */
margin: 10px; /* Espacio entre las tarjetas */
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para un efecto 3D */
border-radius: 10px; /* Bordes redondeados */
}

/* Estilos del Contenido de la Tarjeta */
.card-content {
padding: 20px; /* Espacio interno */
}

/* Estilos para los títulos y párrafos si es necesario */
.card-content h2 {
margin-top: 0;
font-size: 2em;
justify-content: center;
text-align: center;
}



.card img {
width: 100%;
height: auto;
object-fit: cover;
border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 768px) {

    .slide-inner {
        height: calc(50vw + 3em);
    }
    .slide-control {
        font-size: 8vw;
        height: 8vw;
        line-height: 7vw;
        width: 8vw;
    }
    .slide-item img{
        max-width: 200%;
    }
    .text-overlay{
        font-size: 2em
    }
    .slide-circulo {
        font-size: 7vw;
    }
}

.button-link h3 {
    display: inline-block; /* Hace que el h2 se comporte como un botón */
    background-color: #16c6cc; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno para hacerlo más grande */
    text-align: center; /* Asegura que el texto esté centrado */
    text-decoration: none; /* Elimina el subrayado del texto */
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Margen externo para separación */
    cursor: pointer; /* Cambia el cursor a la forma de un puntero */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Bordes redondeados para el botón */
    transition-duration: 0.4s; /* Hace que el cambio de color sea gradual */
  }
  
  .button-link h3:hover {
    background-color: #16c6cc; /* Cambio de color al pasar el mouse */
  }
  
  