<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesFormPeluqueria", title:"Peluquería"}) %>
</head>

<body>

    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <div class="encabezado-catalogo">
      <img src="/img/peluqueria.jpeg" alt="imagen-catalogo" class="img-catalogo">
      <div class="text-overlay">SERVICIO DE PELUQUERIA </div>
    </div>

    <ul class="texto-contacto">
      <li>Corte de pelo y peinado profesional para tu mascota.</li>
      <li>Baño con productos de alta calidad y adaptados a la piel de cada animal.</li>
      <li>Eliminación de nudos y enredos en el pelaje.</li>
      <li>Secado y cepillado cuidadoso.</li>
      <li>Revisión de uñas y limpieza de oídos.</li>
    </ul>

    <div class="contenedor-form">
      <form action="/services/peluqueria" method="post" class="estilos-form">
        <label for="nombre" class="estilos-labels">Nombre:</label>
        <input class="estilos-inputs" type="text" id="nombre" name="nombre" required>
  
        <label for="apellido" class="estilos-labels">Apellido:</label>
        <input class="estilos-inputs" type="text" id="apellido" name="apellido" required>
  
        <label for="email" class="estilos-labels">Email:</label>
        <input class="estilos-inputs" type="email" id="email" name="email" required>
  
        <label for="telefono" class="estilos-labels">Teléfono:</label>
        <input class="estilos-inputs" type="tel" id="telefono" name="telefono" required>
  
        <button type="submit">Enviar</button>
      </form>
    </div>
    
    <div class="contenedor-texto-contacto">
      <div class="texto-contacto">
        <p>
          Completa el formulario.
          Nuestro equipo de asesores se comunicará contigo para brindarte más detalles sobre nuestros servicios y responder a tus preguntas.</p>   
      </div>
    </div>

    <div class="encabezado-catalogo">
      <div class="contenedor-imagen">
        <img src="/img/peluqueria2.jpeg" alt="imagen-catalogo" class="img-catalogo">
        <div class="contenedor-texto-descripcion">   
          <div class="text-overlay-2">En nuestro servicio de peluquería, nos preocupamos por el bienestar y la comodidad de tu mascota. Nuestros profesionales están capacitados para brindar un trato amable y respetuoso, asegurando una experiencia positiva para tu fiel compañero.</div>
        </div>
      </div>
    </div>

  

</body>

<footer>
    <%- include('partials/footer.ejs') %>
</footer>

</html>
