<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesFormGuarderia", title:"Guardería"}) %>
</head>

<body>

    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <div class="encabezado-catalogo">
      <img src="/img/guarderia_imagen.jpeg" alt="imagen-catalogo" class="img-catalogo">
      <div class="text-overlay">SERVICIO DE GUARDERIA </div>
    </div>

    <ul class="texto-contacto">
      <li>Atención personalizada para cada mascota.</li>
      <li>Áreas seguras y cómodas para el juego y descanso.</li>
      <li>Personal capacitado y amante de los animales.</li>
      <li>Actividades recreativas y paseos diarios.</li>
    </ul>

  <div class="contenedor-form">
    <form action="/services/guarderia" method="post" class="estilos-form">
      <label for="nombre" class="estilos-labels">Nombre:</label>
      <input class="estilos-inputs" type="text" id="nombre" name="nombre" required>

      <label for="apellido" class="estilos-labels">Apellido:</label>
      <input class="estilos-inputs" type="text" id="apellido" name="apellido" required>

      <label for="email" class="estilos-labels">Email:</label>
      <input class="estilos-inputs" type="email" id="email" name="email" required>

      <label for="telefono" class="estilos-labels">Teléfono:</label>
      <input class="estilos-inputs" type="tel" id="telefono" name="telefono" required>

      <button type="submit">Enviar</button>
    </form>
  </div>

  <div class="contenedor-texto-contacto">
    <div class="texto-contacto">
      <p>
        Completa el formulario.
        Nuestro equipo de asesores se comunicará contigo para brindarte más detalles sobre nuestros servicios y responder a tus preguntas.</p>
    </div>
  </div>
 
  <div class="contenedor-texto-contacto">

    

    <!-- <p class="texto-contacto">Nuestro Servicio de Guardería</p> -->
    
  

  

  <!-- Agrega aquí cualquier otro contenido que desees mostrar en la página -->

</body>

<footer>
    <%- include('partials/footer.ejs') %>
</footer>

</html>
