<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("./partials/head.ejs", {cssSheet:"styleHome.css", title:"Home"}) %>

</head>

<body>
    <header>
        
        <%- include('partials/header.ejs', { user: user }) %>
        
    </header>
    <main>
        <section>



            <div class="slide">
                <div class="slide-inner">
                    <input class="slide-open" type="radio" id="slide-1" 
                          name="slide" aria-hidden="true" hidden="" checked="checked">
                    <div class="slide-item">
                        <img src="./img/foto3.jpeg">
                        <!-- <div class="text-overlay">En Huellitas contamos con los mejores Médicos Veterinarios con formación académica de calidad para ofrecerles las herramientas necesarias para cuidar de tu mascota.
                            Consultá todas nuestras sucursales de hospitales veterinarios y visítanos para poder ayudarte y ayudar a tu compañero. ¡Solicitá turno!</div> -->
                    </div>
                    <input class="slide-open" type="radio" id="slide-2" 
                          name="slide" aria-hidden="true" hidden="">
                    <div class="slide-item">
                        <img src="./img/foto6.jpeg">
                        <div class="text-overlay">Tu texto aquí</div>
                    </div>
                    <input class="slide-open" type="radio" id="slide-3" 
                          name="slide" aria-hidden="true" hidden="">
                    <div class="slide-item">
                        <img src="./img/foto5.jpeg">
                        <div class="text-overlay">Tu texto aquí</div>
                    </div>
                    
                    <label for="slide-3" class="slide-control prev control-1">‹</label>
                    <label for="slide-2" class="slide-control next control-1">›</label>
                    <label for="slide-1" class="slide-control prev control-2">‹</label>
                    <label for="slide-3" class="slide-control next control-2">›</label>
                    <label for="slide-2" class="slide-control prev control-3">‹</label>
                    <label for="slide-1" class="slide-control next control-3">›</label>
                    <ol class="slide-indicador">
                        <li>
                            <label for="slide-1" class="slide-circulo">•</label>
                        </li>
                        <li>
                            <label for="slide-2" class="slide-circulo">•</label>
                        </li>
                        <li>
                            <label for="slide-3" class="slide-circulo">•</label>
                        </li>
                    </ol>
                </div>
            </div>
    
        </section>
    
        <section>

            <div class="cards-container">
                <div class="card">
                    <div class="card-content">
                        <img src="./img/card5.jpeg" alt="">
                        <h2>Alimentos</h2>
                        <p>Descripción de la tarjeta 1...</p>
                        <!-- Más contenido si es necesario -->
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-content">
                        <img src="./img/card6.jpeg" alt="">
                        <h2>Veterinarios</h2>
                        <p>Descripción de la tarjeta 2...</p>
                        <!-- Más contenido si es necesario -->
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-content">
                        <img src="./img/card7.jpeg" alt="">
                        <h2>Accesorios</h2>
                        <p>Descripción de la tarjeta 3...</p>
                        <!-- Más contenido si es necesario -->
                    </div>
                </div>
                

            <div class="cards-container">
                <div class="card">
                    <div class="card-content">
                        <img src="./img/card5.jpeg" alt="">
                        <h2>Guarderia</h2>
                        <p>Descripción de la tarjeta 4...</p>
                        <!-- Más contenido si es necesario -->
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-content">
                        <img src="./img/card6.jpeg" alt="">
                        <h2>Peluqueria</h2>
                        <p>Descripción de la tarjeta 5...</p>
                        <!-- Más contenido si es necesario -->
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-content">
                        <img src="./img/card7.jpeg" alt="">
                        <h2>Ofertas</h2>
                        <p>Descripción de la tarjeta 6...</p>
                        <!-- Más contenido si es necesario -->
                    </div>
                </div>
                
            </div>
            
        </section>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    <script src=""></script>
</body>

</html>