<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("./partials/head.ejs", {cssSheet:"styleHome.css", title:"Home"}) %>

</head>

<body>
    <header>
        
        <%- include('partials/header.ejs', { user: user }) %>
        
    </header>
    <main>
        <section>



            <div class="slide">
                <div class="slide-inner">
                    <input class="slide-open" type="radio" id="slide-1" 
                          name="slide" aria-hidden="true" hidden="" checked="checked">
                    <div class="slide-item">
                        <img src="./img/foto3.jpeg">
                    </div>
                    <input class="slide-open" type="radio" id="slide-2" 
                          name="slide" aria-hidden="true" hidden="">
                    <div class="slide-item">
                        <img src="./img/foto6.jpeg">
                        
                    </div>
                    <input class="slide-open" type="radio" id="slide-3" 
                          name="slide" aria-hidden="true" hidden="">
                    <div class="slide-item">
                        <img src="./img/foto5.jpeg">
                       
                    </div>
                    
                    <label for="slide-3" class="slide-control prev control-1">‹</label>
                    <label for="slide-2" class="slide-control next control-1">›</label>
                    <label for="slide-1" class="slide-control prev control-2">‹</label>
                    <label for="slide-3" class="slide-control next control-2">›</label>
                    <label for="slide-2" class="slide-control prev control-3">‹</label>
                    <label for="slide-1" class="slide-control next control-3">›</label>
                    <ol class="slide-indicators">
                        <li>
                            <label for="slide-1" class="slide-bullet">•</label>
                        </li>
                        <li>
                            <label for="slide-2" class="slide-bullet">•</label>
                        </li>
                        <li>
                            <label for="slide-3" class="slide-bullet">•</label>
                        </li>
                </div>
            </div>
    
        </section>
    
        <section>

            <div class="cards-container">
                <div class="card">
                    <div class="card-content">
                        <img src="./img/alimentos2.jpg" alt="">
                        <h2>Alimentos</h2>
                        <p> Sabemos que una nutrición adecuada es fundamental para la salud y felicidad de tu mascota. Por eso, ofrecemos una amplia gama de alimentos premium, seleccionados cuidadosamente para satisfacer las necesidades de cada etapa de la vida de tu mascota.</p>
                        <a href="/products/food" class="button-link">
                            <h3>Comprar alimentos</h3>
                          </a>   
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-content">
                        <img src="./img/card1.jpeg" alt="">
                        <h2>Veterinarios</h2>
                        <p>Nuestro equipo de veterinarios certificados y apasionados por los animales está aquí para ofrecerte los mejores cuidados médicos para tu mascota. Con una amplia gama de especializaciones, desde medicina preventiva hasta cirugías avanzadas.</p>
                        <a href="/services/services/veterinaria" class="button-link">
                            <h3>Sacá tu turno</h3>
                          </a>   
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-content">
                        <img src="./img/imgProd/AdobeStock_434020955.jpeg" alt="">
                        <h2>Accesorios</h2>
                        <p>Encuentra todo lo que necesitas para el bienestar y la felicidad de tu mascota. Nuestra gama de accesorios incluye productos de alta calidad y duraderos, diseñados pensando en la comodidad y el entretenimiento de tu fiel compañero.</p>
                        <a href="/products/accesories" class="button-link">
                            <h3>Comprar accesorios</h3>
                          </a>   
                    </div>
                </div>
                

            <div class="cards-container">
                <div class="card">
                    <div class="card-content">
                        <img src="./img/card8.jpeg" alt="">
                        <h2>Guarderia</h2>
                        <p>Nuestra guardería para mascotas es el segundo hogar perfecto para tu compañero. Entendemos que tu mascota necesita amor, atención y espacio para jugar, incluso cuando no puedes estar allí. Instalaciones de primera clase, supervisión profesional las 24 horas.</p>
                        <a href="/services/services/guarderia" class="button-link">
                            <h3>Reservas aquí</h3>
                          </a>   
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-content">
                        <img src="./img/peluqueria3.jpeg" alt="">
                        <h2>Peluqueria</h2>
                        <p>Ofrecemos una experiencia de peluquería de primera para tu mascota, donde el confort y la belleza van de la mano. Nuestros estilistas profesionales utilizan técnicas suaves y productos de la mejor calidad, asegurando un resultado perfecto y una mascota feliz.</p>
                        <a href="/services/services/peluqueria" class="button-link">
                            <h3>Sacá turno aquí</h3>
                          </a>   
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-content">
                        <img src="./img/card7.jpeg" alt="">
                        <h2>Ofertas
                        </h2>
                        <p>Aprovecha nuestras ofertas limitadas para darle a tu mascota el cuidado que se merece sin comprometer tu presupuesto. Desde descuentos en alimentos y accesorios hasta promociones en servicios de salud y bienestar.</p>
                        <a href="/products/insale" class="button-link">
                            <h3>Descubri nuestras ofertas</h3>
                          </a>                    </div>
                </div>
                
            </div>
            
        </section>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    <script src=""></script>
</body>

</html>