<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesLogin", title:"Iniciar Sesión"}) %>
    <meta name="appleid-signin-client-id" content="[CLIENT_ID]">
    <meta name="appleid-signin-scope" content="[SCOPES]">
    <meta name="appleid-signin-redirect-uri" content="[REDIRECT_URI]">
    <meta name="appleid-signin-state" content="[STATE]">
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <h3 class = "title-login">Iniciar Sesión</h3>

        <ul class="errors alert-warning">
        </ul>

        <% if (locals && locals.mensajesDeError) {%>
            <% for (let error in mensajesDeError) {%>
                <p class = "errors"> <%= mensajesDeError[error].msg %> </p>
            <% } %>
        <% } %>
        
        <form action = "/users/login" method = "POST" class = "login-form" id="form">
            <div class = "columns-login">
                <!--Campos del formulario-->
                <div class = "login-left">
                    <div class = "input-boxes-login">
                        <label for = "email">Email</label>
                        <input type = "email" name = "email" id = "email">
                        <p class="email-error"></p>
                    </div>
                    <div class = "input-boxes-login">    
                        <label for = "password">Contraseña</label>
                        <input type = "password" name = "password" id = "password">
                        <p class="password-error"></p>
                    <div class="input-boxes-login">
                        <input type="checkbox" id="remember-me" name="remember-me">
                        <label for="remember-me" id="remember-me-label">Recordar</label>
                    </div>

                    </div>
                    <div class = "forgot-password-login">    
                        <a href = "/users/resetting/request">Olvidé la contraseña</a>
                    </div>

                    <!--Botones formulario-->
                    <div class = "submit-button-box-login">
                        <button type = "submit" id = "loginButton-login">Iniciar Sesión</button>
                    </div>    
                </div>

                <!--Divisor-->
                <div class = "divider-login">
                    <div class="circle-login">O</div>
                </div>

                <!--Logo-->
                <div class = "login-right">
                    <img class = "logo-login" src = "/img/logo-huellitas-register.png" alt = "logo-huellitas-login">
                    <div class="button-container-login">
                        <!--Boton Google-->
                        <script src="https://accounts.google.com/gsi/client" async></script>
                            <div id="g_id_onload"
                                data-client_id="YOUR_GOOGLE_CLIENT_ID"
                                data-login_uri="https://your.domain/your_login_endpoint"
                                data-auto_prompt="false">
                            </div>
                            <div class="g_id_signin"
                                data-type="icon"
                                data-logo-alignment = "center"
                                data-size="xxl"
                                data-theme="outline"
                                data-shape="circle">
                            </div>
                        <!--Boton Apple-->
                        <div id="appleid-signin" class="signin-button-apple" data-color="black" data-border="false" data-border-radius="50" data-type="sign-in" data-mode="logo-only"></div>
                        <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
                    </div>
                </div>
            </div>
        </form>
        <!--Login-->
            <div class = "login-down">
                <p>Nuevo Usuario</p>
                <button class = "register-button-box-login" id = "registerButton-login">
                    <a href = "/users/register">Crear Cuenta</a>
                </button>
            </div>
        
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

    <script src="/js/loginValidations.js"></script>

</body>