<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesLogin", title:"Iniciar Sesión"}) %>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <h3 class = "title">Iniciar Sesión</h3>
        <form action = "/login" method = "POST" class = "register-form">
            <div class = "columns">
            <!--Campos del formulario-->
            <div class = "login-left">
                <div class = "input-boxes">
                    <label for = "email">Email</label>
                    <input type = "email" name = "email" id = "email">
                </div>
                <div class = "input-boxes">    
                    <label for = "password">Contraseña</label>
                    <input type = "password" name = "password" id = "password">
                </div>
                <div class = "forgot-password">    
                    <a href = "/users/request-password-reset">Olvidé la contraseña</a>
                </div>

                <!--Botones formulario-->
                <div class = "submit-button-box">
                    <button type = "submit" id = "loginButton">Iniciar Sesión</button>
                </div>    
            </div>

            <!--Divisor-->
            <div class = "divider"></div>

            <!--Logo-->
            <div class = "login-right">
                <img class = "logo" src = "/img/logo-huellitas-register.png" alt = "logo-huellitas-register"> 
            </div>
        </div>
        <!--Login-->
            <div class = "login-down">
                <p>Nuevo Usuario</p>
                <button class = "register-button-box" id = "registerButton">
                    <a href = "/users/register">Crear Cuenta</a>
                </button>
            </div>
        </form>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>