<!DOCTYPE html>
<html lang="es">
<head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/stylesLogin.css" rel="stylesheet">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

            <link rel="icon" href="/img/logoHuellitas.png">

            <script src="https://kit.fontawesome.com/971bd64f71.js" crossorigin="anonymous"></script>

    <title>Login | Huellitas 🐾</title>
</head>

<body>
    
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <div>

        <p class=""> Login </p>
    
    </div>

    <div class="caja-izquierda">

        <div class="user-form-box">
            <input type="text" name="user" id="user-form" placeholder="E-Mail">
        </div>

        <div class="password-form-box">
            <input type="password" name="password" id="password-form" placeholder="Contraseña">
        </div>

        <div class="account-button-box">
            <input type="submit" name="submit" id="submit-form" value="LOGIN"> 
        </div>

    </div>

    <div class="caja-derecha"> 
        <div>
            
            <p class="titulo-caja"> Login con redes sociales</p> 
        
        </div>


    </div>

</form>


<div>
    <div  class="free-shipping">
        <h3 class="title-extra-info">Nuevo Usuario</h3>

        <div class="submit-button-box">
            <input type="submit" name="submit" id="submit-form" value="CREAR UNA CUENTA"> 
        </div>

    </div>
</div>


<footer>

    <%- include('partials/footer.ejs') %>

</footer>
</body>
</html>