<!DOCTYPE html>
<html lang="es">
<head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/stylesLogin.css" rel="stylesheet">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

            <link rel="icon" href="/img/logoHuellitas.png">

            <script src="https://kit.fontawesome.com/971bd64f71.js" crossorigin="anonymous"></script>

    <title>Login | Huellitas 🐾</title>
</head>

<body>
    <header>

        <div class="header-log-bar">
            <div class="logo">
                <a href="/src/views/login.html">
                    <img src="/img/logoHuellitas.png" class="logo" alt="Logo Huellitas" >
                </a>
            </div>
            
            
            <ul class="menssage-card"style="list-style: none;>

                <li> <a href="#">Segui tu orden</a> </li>
                <li> <a href="#">Login</a> </li>
                <li> <a href="#">Registro</a> </li>

            </ul>
        </div>
            

        <nav class="nav-bar">

            <ul class="nav-bar-izquierda" style="list-style: none;">
                <li> <a href="/alimentos.html">Alimento</a> <i class="fa-solid fa-utensils"></i> </li>
                <li> <a href="/ropa.html">Ropa</a> <i class="fa-solid fa-shirt"></i> </li>
                <li> <a href="/juguetes.html">Juguetes</a> <i class="fa-solid fa-gamepad"></i> </li>
                <li> <a href="/servicios.html">Servicios</a> <i class="fa-solid fa-wifi"></i> </li>
            </ul>


            <ul class="nav-bar-menu-derecha" style="list-style: none;">
                <li> <a href="/register.html">Créa tu cuenta</a> <i class=" fa-regular fa-address-card"></i> </li>
                <li> <a href="/login.html">Ingresá</a> <i class=" fa-solid fa-right-to-bracket"></i> </li>
                <li> <a href="/miscompras.html">Mis compras</a> <i class=" fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>
    </header>

    <div>

        <p class=""> Login </p>
    
    </div>

    <div class="caja-izquierda">

        <div class="user-form-box">
            <input type="text" name="user" id="user-form" placeholder="E-Mail">
        </div>

        <div class="password-form-box">
            <input type="password" name="password" id="password-form" placeholder="Contraseña">
        </div>

        <div class="account-button-box">
            <input type="submit" name="submit" id="submit-form" value="LOGIN"> 
        </div>

    </div>

    <div class="caja-derecha"> 
        <div>
            
            <p class="titulo-caja"> Login con redes sociales</p> 
        
        </div>


    </div>

</form>


<div>
    <div  class="free-shipping">
        <h3 class="title-extra-info">Nuevo Usuario</h3>

        <div class="submit-button-box">
            <input type="submit" name="submit" id="submit-form" value="CREAR UNA CUENTA"> 
        </div>

    </div>
</div>


<footer>

    <div class="basic-information">

        <div class="copyright-information">
        <p>Copyright © 2023 www.HUELLITAS.com.ar </p>
        </div>
    
    </div>

</footer>
</body>
</html>