<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesPasswordRequestEmail", title:"Restablecer contrase침a"}) %>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main>
        <div class = "reset-password-box">
            <h3>Restablecer contrase침a</h3>
            <p>Un email ha sido enviado. Contiene un enlace de activaci칩n para restablecer tu contrase침a.</p>
        </div>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>