<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesPasswordRequest", title:"Restablecer contraseña"}) %>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <h3 class = "title">Restablecer contraseña</h3>
        <form action = "/users/login" method = "POST" class = "request-password-reset-form">
            <div class = "columns">
            <!--Campos del formulario-->
            <div class = "reset-left">
                <div class = "input-boxes">
                    <label for = "email">E-mail</label>
                    <input type = "email" name = "email" id = "email">
                </div>
                <!--Botones formulario-->
                <div class="submit-button-box">
                    <a class="submit" id="resetPassword" href="/users/resetting/check-email">
                    <span>Restablecer contraseña</span>
                    </a>
                </div>  
            </div>

            <!--Divisor-->
            <div class = "divider"></div>

            <!--Logo-->
            <div class = "reset-right">
                <img class = "logo" src = "/img/logo-huellitas-register.png" alt = "logo-huellitas-register"> 
            </div>
        </div>
    </form>     
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>