<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles-productDetail.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7ba5eb1822.js" crossorigin="anonymous"></script>
        <title>Detalle del producto</title>
</head>

<body>
    <header>
        <div class="espacio-header">
            <h1>HEADER HUELLITAS</h1>
        </div>
    </header>

        <p class="ruta-al-producto">HOME>JUGUETES>Hueso porta bolsa residuos</p>

        <section class="fotos-de-artículos">
            
            <article class="caja-img-ppal">
                <img src= "img/bolsitas1.jpg">
            </article>

            <div class="otras-fotos-del-articulo">
                <ul class="caja-img-secundarias">
                    <li class="cajita">
                        <img src= "img/bolsitas2.jpg">
                    </li>
                    <li class="cajita">
                        <img src= "img/bolsitas3.jpg">
                    </li>
                    <li class="cajita">
                        <img src= "img/bolsitas4.jpg">
                    </li>
                    <li class="cajita">
                        <img src= "img/bolsitas5.jpg">
                    </li>
                </ul>
            </div>

        </section>

        <section>

            <h2 class="nombre-producto">Hueso porta bolsitas de residuo</h2>
            <div>

                <form class="formulario-estrellitas">
                    <input class="radio-input" type="radio" id="star5" name="star-input" value="5" />
                    <label class="radio-label" class for="star5" title="5 stars">5 stars</label>
                      
                    <input class="radio-input" type="radio" id="star4" name="star-input" value="4" />
                    <label class="radio-label" for="star4" title="4 stars">4 stars</label>
                      
                    <input class="radio-input" type="radio" id="star3" name="star-input" value="3" />
                    <label class="radio-label" for="star3" title="3 stars">3 stars</label>
                      
                    <input class="radio-input" type="radio" id="star2" name="star-input" value="2" />
                    <label class="radio-label" for="star2" title="2 stars">2 stars</label>
                      
                    <input class="radio-input" type="radio" id="star1" name="star-input" value="1" />
                    <label class="radio-label" for="star1" title="1 star">1 star</label>
                </form>

            </div>
               
        </section>

        <section class="precios">
            <div class="oferta"><h4>Oferta</h4></div>
            <div class="precio-oferta"><h2>$1.900</h2></div> 
            <div class="precio-de-lista"><h5 class="precio-de-lista">Precio de lista: $2500</h5></div>
            <div>
                <h4 class="compra-cuotas-transferencia"><i class="fa-regular fa-credit-card"></i>3 cuotas sin interés</h4>
                <h4 class="compra-cuotas-transferencia"><i class="fa-solid fa-money-bill-transfer"></i>10% de descuento pagando con transferencia bancaria</h4>
            </div>
        </section>

        <section class="selección-colores-talles">
           
            <div>
                <p class="colores-disponibles">Colores disponibles</p>
            </div>

            <section class="seleccion-colores">
                <div class="color red"></div>
                <div class="color green"></div>
                <div class="color blue"></div>
            </section>

            <div>
                <p class="talles-disponibles">Talles disponibles</p>
            </div>

            <section class="seleccion-talles">
                <div class="talle small-medium-large"> S </div>
                <div class="talle small-medium-large"> M </div>
                <div class="talle small-medium-large"> L </div>
            </section>

        </section>
    
        <section>
            <section>
                <div class="caja-carrito">
                    <div class="algo-contador">
                        <div class="contador">
                            <div class="caja-descendente"> 
                                <span class="descendente"> - </span>
                            </div>
                                <input type="text" value="1" id="cantidad" size="1">
                            <span class="ascendente"> + </span>
                        </div>
                    </div>
                        <div class="caja-boton-carrito">
                            <button class="boton-enviar" type="submit">
                                <i class="fa-solid fa-cart-shopping"></i> <span>AGREGAR AL CARRITO</span>
                            </button>
                        </div>
                </div>
            </section>
        </section>

       
        <section class="">
            <div class="titulo-descripcion-producto">DESCRIPCIÓN DEL PRODUCTO</div>
            <div></div>
            <p class="descripcion-producto">Este ingenioso hueso es el accesorio esencial para los dueños de mascotas con estilo y conciencia ambiental. 
                Fabricado con materiales de alta calidad y diseñado pensando en la comodidad y la funcionalidad, el Hueso Porta Bolsas es resistente y duradero. 
                Este accesorio compacto y liviano se conecta fácilmente al collar o correa de tu mascota, asegurándote de que siempre tengas bolsas disponibles para mantener limpios los espacios públicos. Además, su diseño atractivo hace que sea un regalo perfecto para los amantes de los animales.
                ¡Añade el Hueso Porta Bolsas para Mascotas a tu rutina diaria y haz que cada paseo sea una experiencia cómoda, práctica y llena de estilo para ti y tu peludo compañero!                
            </p>
        </section>

        <section>
            los mas vendido // visto recientemente
        </section>

        <footer>

        </footer>



    

</body>
</html>