<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesFooter.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fde7fb228b.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head> -->

<%- include("head.ejs", {cssSheet:"stylesFooter", title:"Footer"}) %>


<footer>
        <div class="contenido">
            <div class="logobox">
               <img class="logo" src="/img/logoHuellitas.png" alt="logo Huellitas">
            </div>
            <div class="listabox">
                <div class="Contactanos">
                    <p class="titulos">Contáctanos</p>
                    <ul class="listaContácto">
                        <li>01 800 321 65487</li>
                        <li>01 800 321 65487</li>
                        <li>huellitasDH@gmail.com</li>
                        <li>calle 59 sur # 92 a 28</li>
                    </ul>
                </div>
                <div class="Redes">
                    <p class="titulos"> Nuestras redes </p>
                    
                    <div class="logosredes">
                        <div class = "logito">
                            <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr"><i class= "fa-brands fa-facebook"></i></a>
                        </div>
                        <div class = "logito">
                            <a href="https://www.instagram.com/"><i class= "fa-brands fa-instagram"></i></a>
                        </div>
                    </div> 

                </div>
        
            </div>
        </div>
        <div class="derechos reservados">
            <p>
                Copyright @ 2023 Huellitas - Derechos reservados
            </p>
        </div>
</footer>
