<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesFooter.css" rel="stylesheet">
    
    <title>Footer</title>
</head>
<footer>
        <div class="contenido">
            <div class="logobox">
               <img class="logo" src="/img/logoHuellitas.png" alt="logo Huellitas">
            </div>
            <div class="listabox">
                <div class="Contactanos">
                    <p class="titulos">Contáctanos</p>
                    <ul>
                        <li>whatsapp</li>
                        <li>correo</li>
                        <li>dirección</li>
                    </ul>
                </div>
                <div class="Redes">
                    <p class="titulos">Nuestras redes</p>
                </div>
        
            </div>
        </div>
        <div class="derechos reservados">
            <p>
                Copyright @ 2023 Huellitas - Derechos reservados
            </p>
        </div>
</footer>
