<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link href="/css/stylesNavBar.css" rel="stylesheet">
</head>
<header>
    <section class="navbar">

        <nav>
           
            
                        <ul>
                            <li class="logo">
                                <a href="/">
                                    <img src="./img/logo.jpg" alt="Logo de la Empresa">
                                </a>
                            </li>
                        <li><a href="users/index.ejs">Home</a></li>
                        <li><a href="users/productDetail.ejs">Productos</a></li>
                        <li><a href="users/contacto.ejs">Contact</a></li>
                        <li><a href="users/login.ejs">Login</a></li>
                        <li><a href="users/register.ejs">Register</a></li>
                        
    
                    </ul>
                
        </nav>
    </section>
</header>
