<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link href="/css/stylesNavBar.css" rel="stylesheet">
</head>
<header>
    <section class="navbar">

        <nav>
           
            
                        <ul>
                            <li class="logo">
                                <a href="#home">
                                    <img src="./img/logo.jpg" alt="Logo de la Empresa">
                                </a>
                            </li>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#news">News</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="./login.html">Login</a></li>
                        <li><a href="./register.html">Register</a></li>
                        
    
                    </ul>
                
        </nav>
    </section>
</header>
