<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="/css/stylesHeadMini.css" rel="stylesheet">
</head>
<body>
    <div class="header-top">
        <div class="ascensor">
            <div class="mensaje mensaje-1">Envíos gratis a todo el país</div>
            <div class="mensaje mensaje-2">Entrega dentro de las 24hrs en compras antes de las 11am</div>
            <div class="mensaje mensaje-3">10% de descuento los jueves con American Express y Mastercard</div>
        </div>
    </div>
    <header>
    </header>
</body>
</html>