<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link href="/css/stylesNavBar.css" rel="stylesheet">
</head>
<header>
    <section class="navbar">

        <nav>
           
            
                        <ul>
                            <li class="logo">
                                <a href="/">
                                    <img src="/img/logo.jpg" alt="Logo de la Empresa">
                                </a>
                            </li>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/products/products">Productos</a></li>
                        <li><a href="/users/contact">Contacto</a></li>
                        <li><a href="/users/contact">Servicios</a></li>
                        <div class = "nav-right">
                            <div class = "searchbar">
                                <i class="fa fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class = "user">
                                <i class="fa fa-solid fa-user"></i>
                            </div>
                            <div class = "cart">
                                <a href="/products/cart"><i class="fa fa-solid fa-cart-shopping"></i></a>
                            </div>

                        </div>

                        <!--
                        <li><a href="/users/login">Iniciar Sesion</a></li>
                        <li><a href="/users/register">Registrarse</a></li>
                        -->
    
                    </ul>
                
        </nav>
    </section>
</header>
