<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link href="/css/stylesNavBar.css" rel="stylesheet">
</head>
<footer>
        <div class="contenido">
            <div>
               <img class="logo" src="/img/logohuellitashorisontal.png" alt="logo Huellitas">
            </div>
            <div class="SobreNosotros"></div>
                <p>Sobre nosotros</p>
            <div class="EncuentranosEn"></div>
                <p>Encuentranos en</p>
            <div class="Contactanos"></div>
                <p>Contáctanos</p>
        </div>
        <div class="derechos reservados">
            <p>
                Copyright @ 2023 Huellitas - Derechos reservados
            </p>
        </div>
</footer>
