<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link href="/css/stylesNavBar.css" rel="stylesheet">
</head>
<nav>
    <div class="logo">
        <img src="/img/logohuellitashorizontal.png" alt="logo Huellitas">
    </div>
    <div class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </div>
    <div class="search">
        <input type="text" placeholder="Buscar">
        <img src="/img/search.png" alt="search">
    </div>
    <div class="login">
        <a href="/login">Iniciar Sesión</a>
    </div>
    <div class="register">
        <a href="/register">Registrarse</a>
    </div>
</nav>
